<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.app.admin.repository.AdminRepository">
  <select id="findAllStudents" resultType="adminStudentListDto">
    SELECT
	    s.student_id,
	    m.member_name,
	    m.member_phone,
	    m.birthday,
	    m.member_email,
	    c.curriculum_name,
	    c.class_id,
	    s.student_type,
	    c.curriculum_end_at
	FROM
    	student s
	JOIN
    	member m ON s.student_id = m.member_id
	LEFT JOIN
    	curriculum c ON s.curriculum_id = c.curriculum_id
    <where>
        <if test="studentTypes != null and !studentTypes.isEmpty()">
            AND student_type IN
            <foreach collection="studentTypes" item="studentType" open="(" separator="," close=")">
                #{studentType}
            </foreach>
        </if>
        <if test="searchType != null and searchKeyword != null">
            AND ${searchType} like '%' || #{searchKeyword} || '%'
        </if>
    </where>
    
  </select>
  
  <select id="findAllEmployee" resultType="AdminEmployeeListDto">
  	SELECT 
  		member.*, employee.*
	FROM member
	JOIN 
		employee ON member.member_id = employee.employee_id
  <where>
        <if test="job_Codes != null and !job_Codes.isEmpty()">
            AND JOB_CODE IN
            <foreach collection="job_Codes" item="job_Code" open="(" separator="," close=")">
                #{job_Code}
            </foreach>
        </if>
        <if test="searchType != null and searchKeyword != null">
            AND ${searchType} like '%' || #{searchKeyword} || '%'
        </if>
  </where>
  
  </select>
  
  <select id="findAllTeacher" resultType="TeacherListDto">
	  	SELECT 
	    m.member_id, 
	    m.member_name, 
	    m.member_phone, 
	    m.member_email, 
	    m.birthday,
	    t.*
	FROM 
	    member m
	INNER JOIN 
	    teacher t ON m.member_id = t.teacher_id
	<where>
        <if test="searchType != null and searchKeyword != null">
            AND ${searchType} like '%' || #{searchKeyword} || '%'
        </if>
  	</where>
  </select>
  
  <select id="totalCountStudents" resultType="int">
    SELECT
	    count(*)
	FROM
    	student s
	JOIN
    	member m ON s.student_id = m.member_id
    <where>
        <if test="studentTypes != null and !studentTypes.isEmpty()">
            AND student_type IN
            <foreach collection="studentTypes" item="studentType" open="(" separator="," close=")">
                #{studentType}
            </foreach>
        </if>
        <if test="searchType != null and searchKeyword != null">
            AND ${searchType} like '%' || #{searchKeyword} || '%'
        </if>
    </where>
  </select>
  
  <select id="totalCountEmployees" resultType="int">
  	SELECT 
  		count(*)
	FROM member
	JOIN 
		employee ON member.member_id = employee.employee_id
  <where>
        <if test="job_Codes != null and !job_Codes.isEmpty()">
            AND JOB_CODE IN
            <foreach collection="job_Codes" item="job_Code" open="(" separator="," close=")">
                #{job_Code}
            </foreach>
        </if>
        <if test="searchType != null and searchKeyword != null">
            AND ${searchType} like '%' || #{searchKeyword} || '%'
        </if>
  </where>
  </select>
  
  <select id="totalCountTeachers" resultType="int">
  	SELECT 
  		count(*)
	FROM 
	    member m
	INNER JOIN 
	    teacher t ON m.member_id = t.teacher_id
  <where>
        <if test="job_Codes != null and !job_Codes.isEmpty()">
            AND JOB_CODE IN
            <foreach collection="job_Codes" item="job_Code" open="(" separator="," close=")">
                #{job_Code}
            </foreach>
        </if>
        <if test="searchType != null and searchKeyword != null">
            AND ${searchType} like '%' || #{searchKeyword} || '%'
        </if>
  </where>
  </select>
  
  <select id="totalCountCurriculum" resultType="int">
    SELECT
	    count(*)
	FROM
    	curriculum c
	JOIN
    	member m ON c.teacher_id = m.member_id
    <where>
        <if test="subjects != null and !subjects.isEmpty()">
            AND subject IN
            <foreach collection="subjects" item="subject" open="(" separator="," close=")">
                #{subject}
            </foreach>
        </if>
        <if test="searchType != null and searchKeyword != null">
            AND ${searchType} like '%' || #{searchKeyword} || '%'
        </if>
    </where>
    
  </select>
  
  <select id="adminCourseList" resultType="CurriculumListDto">
    SELECT
	    c.subject,
	    c.curriculum_name,
	    c.curriculum_id,
	    c.class_id,
	    m.member_name,
	    c.teacher_id,
	    c.curriculum_start_at,
	    c.curriculum_end_at
	FROM
    	curriculum c
	JOIN
    	member m ON c.teacher_id = m.member_id
    <where>
        <if test="subjects != null and !subjects.isEmpty()">
            AND subject IN
            <foreach collection="subjects" item="subject" open="(" separator="," close=")">
                #{subject}
            </foreach>
        </if>
        <if test="searchType != null and searchKeyword != null">
            AND ${searchType} like '%' || #{searchKeyword} || '%'
        </if>
    </where>
    
  </select>
  
  <select id="findReportsByFilter" resultType="Report">
    SELECT *
    FROM report
    <where>
        <if test="reportType == '게시글'">
            AND post_id IS NOT NULL
            AND comment_id IS NULL
            AND message_id IS NULL
        </if>
        <if test="reportType == '댓글'">
            AND post_id IS NULL
            AND comment_id IS NOT NULL
            AND message_id IS NULL
        </if>
        <if test="reportType == '쪽지'">
            AND post_id IS NULL
            AND comment_id IS NULL
            AND message_id IS NOT NULL
        </if>
    </where>
</select>

</mapper>