<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.app.board.repository.BoardRepository">
  <select id="findAllByKeyword" resultType="boardSearchDetails">
    select
	    b.board_name,
	    p.title,
	    p.post_created_at,
	    p.post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count
	from
	    board b left join post p
	        on b.board_id = p.board_id
	    left join post_content c
	        on p.post_id = c.post_id
	 where
        p.title like '%' || #{keyword} || '%' or c.content like '%' || #{keyword} || '%'
  </select>
  <resultMap type="boardSearchDetails" id="boardSearchDetailsMap">
  	<id column="board_id" property="boardId"/>
  	<result column="board_name" property="boardName"/>
  	<result column="title" property="boardName"/>
  	<result column="post_created_at" property="postCreatedAt"/>
  	<result column="post_like" property="postLike"/>
  	<result column="board_name" property="boardName"/>
  	<result column="comment_count" property="commentCount"/>
  </resultMap>
  
  <select id="freeBoardFindAll" resultType="boardListDto">
  	select 
	    p.title,
	    p.post_created_at,
	    p.post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=1
  </select>
  
  <select id="preStudentBoardFindAll" resultType="boardListDto">
  	select 
	    p.title,
	    p.post_created_at,
	    p.post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=2
  </select>
  
   <select id="graduateBoardFindAll" resultType="boardListDto">
  	select 
	    p.title,
	    p.post_created_at,
	    p.post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=3
  </select>
  
  <resultMap type="boardListDto" id="boardListDtoMap">
  	<id column="post_id" property="postId"/>
  	<result column="title" property="title"/>
  	<result column="post_created_at" property="postCreatedAt"/>
  	<result column="post_like" property="postLike"/>
  	<result column="comment_count" property="commentCount"/>
  </resultMap>
  
</mapper>