<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.app.board.repository.BoardRepository">
  <select id="findAllByKeyword" resultType="boardSearchDto">
    select
	    b.board_name,
	    p.title,
	    p.post_id,
	    p.post_created_at,
	    p.tag,
	    (select count(*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count
	from
	    board b left join post p
	        on b.board_id = p.board_id
	    left join post_content c
	        on p.post_id = c.post_id
	 where
        p.title like '%' || #{keyword} || '%' or c.content like '%' || #{keyword} || '%'
  </select>
  <resultMap type="boardSearchDto" id="boardSearchDtoMap">
  	<id column="board_id" property="boardId"/>
  	<result column="board_name" property="boardName"/>
  	<result column="title" property="boardName"/>
  	<result column="post_id" property="postId"/>
  	<result column="post_created_at" property="postCreatedAt"/>
  	<result column="tag" property="tag" typeHandler="stringListTypeHandler"/>
  	<result column="post_like" property="postLike"/>
  	<result column="comment_count" property="commentCount"/>
  </resultMap>
  
  <select id="findAllByMemberId" resultType="boardSearchDto">
    select
	    b.board_name,
	    b.board_id,
	    b.board_link
	from
	    favorite f left join board b
	        on f.board_id = b.board_id
	where
	    f.member_id = #{member_id}
  </select>
  <resultMap type="boardSearchDto" id="myBoardsMap">
  	<id column="board_id" property="boardId"/>
  	<result column="board_name" property="boardName"/>
  	<result column="board_link" property="boardLink"/>
  </resultMap>
  	
  <select id="freeBoardFindAll" resultType="boardListDto">
  	select 
  		p.post_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
	    p.board_id
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=1
  </select>
  
  <select id="preStudentBoardFindAll" resultType="boardListDto">
  	select 
  		p.post_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
	    p.board_id
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=8
  </select>
  
   <select id="graduateBoardFindAll" resultType="boardListDto">
  	select 
  		p.post_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
	    p.board_id
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=3
  </select>
  
  <select id="employeeBoardFindAll" resultType="boardListDto">
  	select 
  		p.post_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
	    p.board_id
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=9
  </select>
  
  <select id="findById" resultType="boardListDto">
	select 
  		p.post_id,
  		p.board_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.post_id=#{id}
	</select>
  <resultMap type="boardListDto" id="boardListDtoMap">
  	<id column="post_id" property="postId"/>
  	<result column="title" property="title"/>
  	<result column="post_created_at" property="postCreatedAt"/>
  	<result column="tag" property="tag" typeHandler="stringListTypeHandler"/>
  	<result column="post_like" property="postLike"/>
  	<result column="comment_count" property="commentCount"/>
  	<result column="board_id" property="boardId"/>
  </resultMap>
  
  <select id="findPostLikeCount" resultType="postLike">
  	select
	    count(*) post_like_count
	from
	    post_like
	where
	    post_id = #{postId}
  </select>
  <resultMap type="postLike" id="findPostLikeCount">
  	<result column="post_like_count" property="postLikeCount"/>
  </resultMap>
  
</mapper>