<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.app.board.repository.BoardRepository">
  <select id="findAllByKeyword" resultType="boardSearchDto">
    select
	    b.board_name,
	    p.title,
	    p.post_id,
	    p.post_created_at,
	    p.tag,
	    (select count(*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count
	from
	    board b left join post p
	        on b.board_id = p.board_id
	    left join post_content c
	        on p.post_id = c.post_id
	 where
        p.title like '%' || #{keyword} || '%' or c.content like '%' || #{keyword} || '%'
  </select>
  <resultMap type="boardSearchDto" id="boardSearchDtoMap">
  	<id column="board_id" property="boardId"/>
  	<result column="board_name" property="boardName"/>
  	<result column="title" property="boardName"/>
  	<result column="post_id" property="postId"/>
  	<result column="post_created_at" property="postCreatedAt"/>
  	<result column="tag" property="tag" typeHandler="stringListTypeHandler"/>
  	<result column="post_like" property="postLike"/>
  	<result column="comment_count" property="commentCount"/>
  </resultMap>
  
  <select id="findAllByMemberId" resultType="boardSearchDto">
    select
	    b.board_name,
	    b.board_id,
	    b.board_link
	from
	    favorite f left join board b
	        on f.board_id = b.board_id
	where
	    f.member_id = #{member_id}
  </select>
  <resultMap type="boardSearchDto" id="myBoardsMap">
  	<id column="board_id" property="boardId"/>
  	<result column="board_name" property="boardName"/>
  	<result column="board_link" property="boardLink"/>
  </resultMap>
  	
  <select id="freeBoardFindAll" resultType="boardListDto">
  	select 
  		p.post_id,
  		p.member_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
	    p.board_id,
	    p.anonymous_check
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=1
	order by
		1 desc
  </select>
  
  <select id="marketBoardFindAll" resultType="boardListDto">
  	select 
  		p.post_id,
  		p.member_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
	    p.board_id,
	    p.anonymous_check
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=2
	order by
		1 desc
  </select>
  
  <select id="todayFoodBoardFindAll" resultType="boardListDto">
  	select 
  		p.post_id,
  		p.member_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
	    p.board_id,
	    p.anonymous_check
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=3
	order by
		1 desc
  </select>
  
  <select id="noticeBoardFindAll" resultType="boardListDto">
  	select 
  		p.post_id,
  		p.member_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
	    p.board_id,
	    p.anonymous_check
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=10
	order by
		1 desc
  </select>
  
  <select id="sharingInformationBoardFindAll" resultType="boardListDto">
  	select 
  		p.post_id,
  		p.member_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
	    p.board_id,
	    p.anonymous_check
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=4
	order by
		1 desc
  </select>
  
  <select id="askCodeBoardFindAll" resultType="boardListDto">
  	select 
  		p.post_id,
  		p.member_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
	    p.board_id,
	    p.anonymous_check
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=5
	order by
		1 desc
  </select>
  
  <select id="studyBoardFindAll" resultType="boardListDto">
  	select 
  		p.post_id,
  		p.member_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
	    p.board_id,
	    p.anonymous_check
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=6
	order by
		1 desc
  </select>
  
  <select id="graduateBoardFindAll" resultType="boardListDto">
  	select 
  		p.post_id,
  		p.member_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
	    p.board_id,
	    p.anonymous_check
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=7
	order by
		1 desc
  </select>
  
  <select id="preStudentBoardFindAll" resultType="boardListDto">
  	select 
  		p.post_id,
  		p.member_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
	    p.board_id,
	    p.anonymous_check
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=8
	order by
		1 desc
  </select>
  
  <select id="employeeBoardFindAll" resultType="boardListDto">
  	select 
  		p.post_id,
  		p.member_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
	    p.board_id,
	    p.anonymous_check
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=9
	order by
		1 desc
  </select>
  
  <select id="myClassBoardFindAll" resultType="boardListDto">
  	select 
  		p.post_id,
  		p.member_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
	    p.board_id,
	    p.anonymous_check,
	    m.member_name
	from
	    post p join post_content c
	    	on p.post_id = c.post_id
	    left join member m
            on p.member_id = m.member_id
	where
	    p.board_id=11
	order by
		1 desc
  </select>
  
  <select id="findById" resultType="boardListDto">
	select 
  		p.post_id,
  		p.member_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
  		p.board_id,
  		p.anonymous_check,
        m.member_name
	from
	    post p join post_content c
	    	on p.post_id = c.post_id
        left join member m
            on p.member_id = m.member_id
	where
	    p.post_id=#{id}
	</select>
	
	<select id="myClassBoardFindByTag" resultType="boardListDto">
		select 
	  		p.post_id,
	  		p.member_id,
		    p.title,
		    p.post_created_at,
		    p.tag,
		    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
		    c.content,
		    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
		    p.board_id,
		    p.anonymous_check
		from
		    post p join post_content c
		    	on
		    p.post_id = c.post_id
		where
		    p.board_id=11 and tag = #{tag}
		order by
			1 desc
	</select>
	
	<select id="jobSearchBoardFindAll" resultType="boardListDto">
  	select 
  		p.post_id,
  		p.member_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
	    p.board_id,
	    p.anonymous_check
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=12
	order by
		1 desc
  </select>
  <resultMap type="boardListDto" id="boardListDtoMap">
  	<id column="post_id" property="postId"/>
  	<result column="member_id" property="memberId"/>
  	<result column="title" property="title"/>
  	<result column="post_created_at" property="postCreatedAt"/>
  	<result column="tag" property="tag" typeHandler="stringListTypeHandler"/>
  	<result column="post_like" property="postLike"/>
  	<result column="comment_count" property="commentCount"/>
  	<result column="board_id" property="boardId"/>
  	<result column="anonymous_check" property="anonymousCheck"/>
  	<result column="member_name" property="memberName"/>
  </resultMap>
  
  <select id="totalCountMyClassBoard" resultType="int">
  	select 
  		count(*)
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    p.board_id=11
  </select>
  
  <select id="findPostLikeCount" resultType="postLike">
  	select
	    count(*) post_like_count
	from
	    post_like
	where
	    post_id = #{postId}
  </select>
  <resultMap type="postLike" id="findPostLikeCount">
  	<result column="post_like_count" property="postLikeCount"/>
  </resultMap>
  
  <select id="findByPopularPost" resultType="PopularBoardDto">
SELECT 
p.post_id,  
p.title, 
(select pc.content from post_content pc where pc.post_id = p.post_id) content, 
(SELECT COUNT(*) FROM post_like pl WHERE pl.post_id = p.post_id) AS like_count,
(SELECT COUNT(*) FROM post_comment pc WHERE pc.post_id = p.post_id) AS comment_count,
(select b.board_name from board b where p.board_id = b.board_id) board_name

FROM
    post p
WHERE
     p.post_created_at BETWEEN (SYSDATE - 7) AND SYSDATE
ORDER BY
    like_count DESC
FETCH FIRST 5 ROWS ONLY
  </select>
    <resultMap type="PopularBoardDto" id="PopularBoardDtoMap">
  	<id column="post_id" property="postId"/>
  	<result column="title" property="title"/>
  	<result column="content" property="content"/>
  	<result column="like_count" property="likeCount"/>
  	<result column="comment_count" property="commentCount"/>
  	<result column="board_name" property="boardName"/>
  	
  </resultMap>

  <resultMap type="board" id="findBoardName">
  	<id column="board_id" property="boardId"/>
  	<result column="board_name" property="boardName"/>
  	<result column="board_category" property="boardCategory"/>
  	<result column="board_link" property="boardLink"/>
  </resultMap>
  
  <resultMap type="postReportDto" id="insertPostReport">
  	<id column="report_id" property="reportId"/>
  	<result column="post_id" property="postId"/>
  	<result column="reporter_id" property="reporterId"/>
  	<result column="attacker_id" property="attackerId"/>
  	<result column="report_content" property="reportContent"/>
  	<result column="report_type" property="reportType"/>
  </resultMap>
  
    <select id="findCommentLikeCount" resultType="commentLike">
  	select
	    count(*) comment_like_count
	from
	    comment_like
	where
	    comment_id = #{commentId}
  </select>
  <resultMap type="commentLike" id="findCommentLikeCount">
  	<result column="comment_like_count" property="commentLikeCount"/>
  </resultMap>
  
  <select id="findByCommentByPostId" resultType="comment">
  	SELECT 
	    pc.*,
	    (SELECT COUNT(*) FROM comment_like cl WHERE cl.comment_id = pc.comment_id) AS like_count,
	    m.member_name
	FROM
	    post_comment pc left join member m
	    on pc.member_id = m.member_id
	where
		pc.post_id = #{postId}
	order by
		pc.comment_id asc
  </select>
  <resultMap type="comment" id="findByCommentByPostId">
  	<id column="comment_id" property="commentId"/>
  	<result column="post_id" property="postId"/>
  	<result column="board_id" property="boardId"/>
  	<result column="member_id" property="memberId"/>
  	<result column="comment_content" property="commentContent"/>
  	<result column="comment_level" property="commentLevel"/>
  	<result column="comment_ref" property="commentRef"/>
  	<result column="comment_created_at" property="commentCreatedAt"/>
  	<result column="anonymous_check" property="anonymousCheck"/>
  	<result column="like_count" property="likeCount"/>
  	<result column="member_name" property="memberName"/>
  	<result column="delete_ck" property="deleteCk"/>
  </resultMap>
    <select id="AllBoardFindMyarticle" resultType="boardListDto">
  	select 
  		p.post_id,
  		p.member_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
	    p.board_id,
	    p.anonymous_check
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	    member_id = #{memberId}
	order by
		1 desc
  </select>
  <select id="AllBoardFindMycommentarticle" resultType="boardListDto">
  select 
  		p.post_id,
  		p.member_id,
	    p.title,
	    p.post_created_at,
	    p.tag,
	    (select count (*) from post_like pl where pl.post_id = p.post_id) post_like,
	    c.content,
	    (select count(*) from post_comment pc where pc.post_id = p.post_id) comment_count,
	    p.board_id,
	    p.anonymous_check
	from
	    post p join post_content c
	    	on
	    p.post_id = c.post_id
	where
	   p.post_id in (select post_id from post_comment where member_id = #{memberId} group by post_id)
	order by
		 (SELECT MAX(pc.comment_created_at) FROM post_comment pc WHERE pc.post_id = p.post_id) DESC
  </select>
  
</mapper>